header {
    display: flex;
    height: 100px;
    box-shadow: 9px 9px 16px -11px rgb(0 0 0 / 75%);
    width: auto;
    background-color: rosybrown;
    margin-bottom: auto;
}

header .artemis {
    height: 100px;
    display: flex;

}

.nombrepagina {
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 100%;
    text-shadow: 1px 1px grey;
    font-family: 'Palanquin', sans-serif;
}