<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reto3</title>
    <link href="./header.component.scss" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <img class="artemis" src="images/artemis.png" alt="artemis"/>
        <div class="nombrepagina">
            <h1>MOONIE</h1>
        </div>

    </header>

    <div class="tareas">
        

    </div>
</body>
</html>